@media (max-width: 580px){
#tituloDoSite{
  display: none;
}
}
@media (max-width: 333px){
  #menuDeIconesFiltro{
      display: none;
    }
  #inputPesquisa{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  }
  