
#barraUtilitarios{
  padding: 1rem;
  display: flex;
  position: relative;
  width: 100%;
  height: 7rem;
  background-color: #199EFF;
  margin-bottom: 2rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  align-items: center;
  justify-content: space-between;

  #tituloDoSite{
      height: 5rem;
  }
}