#inputPesquisa{
  height: 2.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  outline: none;
  background-color: #D99E6A;
}